@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Poppins&display=swap');

:root {
  --color-yellow-cream: #fffbc2;
  --color-light-skyblue: hsl(197, 63%, 79%);
  --color-dark-violet: rgb(71, 30, 71);
  --color-violet: rgb(187, 25, 187);
}

body {
  text-align: center;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

body::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-light-skyblue);
  z-index: -1;
}

.header-bio {
  margin: 1.2em auto;
  padding: 2em;
}

.title-bio {
  font-size: 3em;
  line-height: 1.5em;
  font-weight: 900;
  margin: 20px auto;
  color: var(--color-dark-violet);
}

.title-caption-bio {
  font-size: 2em;
  line-height: 1em;
  font-weight: 500;
  margin: auto;
  color: var(--color-violet);
}

#img-div {
  margin: auto 20px;
  background-color: white;
  padding: 20px;
  text-align: center;
}

img {
  display: block;
  max-width: 450px;
  max-height: 612px;
  width: 450px;
  height: auto;
  margin: auto auto;
}

#img-caption {
  margin: 10px auto;
}

@media (max-width: 600px) {


  #img-div {
      width: 90%;
      height: auto;
      margin: auto auto;
  }

  img {
    width: 90%;
    height: auto;
    margin: auto auto;
  }
}

#tribute-title {
  color: orange;
}

#tribute-info {
  width: 550px;
  height: auto;
  margin: 10px auto;
  text-align: justify;
}

@media (max-width: 700px) {

  body {
      padding: 20px;
  }

  #tribute-info {
    width: min(550px, 90%);
  }

}

#quote {
  font-style: italic;
  font-size: 1.1em;
  font-family: 'Cookie', monospace;
}

#read-more {
  margin: 20px auto;
  font-size: 1.2em;
  font-weight: bold;
  color: gray;
}

a {
  color: blue;
}
a:hover {
  animation-duration: 0.5s;
  animation-name: link-hover;
  animation-fill-mode: forwards;
}

@keyframes link-hover {
    0% {
      color: blue;
    }
    100% {
      color: skyblue;
    }
}
