@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Poppins&display=swap');

:root {
  --color-yellow-cream: #fffbc2;
  --color-light-skyblue: hsl(197, 63%, 79%);
  --color-skyblue: hsl(197, 96%, 70%);
  --color-dark-skyblue: rgb(44, 84, 100);
  --color-dark-violet: rgb(71, 30, 71);
  --color-raspberry: rgb(194, 11, 96);
}

body {
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

body::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-light-skyblue);
  z-index: -1;
}

.header-bio {
  text-align: center;
  margin: 1.2em auto;
  padding: 2em;
}

.title-bio {
  font-size: 3em;
  line-height: 1.5em;
  font-weight: 900;
  margin: 20px auto;
  color: var(--color-dark-violet);
}

.container-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-bio::before {
  margin-top: 10em;
}

.title-caption-bio {
  font-size: 2em;
  line-height: 1em;
  font-weight: 500;
  text-align: center;
  margin: 1em auto auto auto;
  color: var(--color-raspberry);
}

.summary-bio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--color-skyblue);
  border-radius: 3px;
  border-width: 0.2em;
  border-style: outset;
  border-color: var(--color-dark-skyblue);
  margin: auto;
  padding: 20px;
  text-align: center;
}

.figure-bio {
  width: 400px;
}

.image-bio {
  border-radius: 3px;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: auto;
}

.image-caption-bio {
  margin: 10px auto;
}

.summary-list {
  width: 300px;
  list-style: none;
  text-align: left;
  padding: 0;
}

.achievements-bio {
  padding-left: 1em;
  list-style: none;
}

.achievements-bio li::before {
  content: '- ';
}

@media (max-width: 1023px) {
  .container-bio {
    padding: 1em;
    margin: auto;
  }

  .summary-bio {
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    padding: 0.4em;
  }

  .figure-bio {
    max-width: 100%;
    padding: 0;
  }

  .image-bio {
    max-width: 100%;
    margin: auto;
  }
}

.list-bio {
  max-width: 100%;
  width: 550px;
  height: auto;
  margin: 10px auto;
  text-align: justify;
}

@media (max-width:767px) {
  .image-bio {
    max-width: 80%;
  }

  .figure-bio {
    max-width: 80%;
  }

  .list-bio {
    max-width: 80%;
    padding-right: 2em;
    overflow-x: auto;
    white-space: pre-wrap;
  }
}

.quote-bio {
  font-style: italic;
  font-size: 1.1em;
  font-family: 'Cookie', monospace;
}

#read-more {
  margin: 20px auto;
  font-size: 1.2em;
  font-weight: bold;
  color: gray;
}

a {
  color: blue;
}
a:hover {
  animation-duration: 0.5s;
  animation-name: link-hover;
  animation-fill-mode: forwards;
}

@keyframes link-hover {
    0% {
      color: blue;
    }
    100% {
      color: skyblue;
    }
}
